// _sass/styles.scss

$primary-color: #b5628cda; 

body {
  background-color: $primary-color;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

.nav_current {
  color: green;
}







// Add more styles as needed for your specific elements